<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86348170761-lsovkl2o5sm19f899ki644b6reiakp6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86348170761-lsovkl2o5sm19f899ki644b6reiakp6t</string>
	<key>API_KEY</key>
	<string>AIzaSyBGnteN6gIcpdu1c4n9iQobgUB365OCs4w</string>
	<key>GCM_SENDER_ID</key>
	<string>86348170761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awesomeproject</string>
	<key>PROJECT_ID</key>
	<string>callvideo-daa5d</string>
	<key>STORAGE_BUCKET</key>
	<string>callvideo-daa5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86348170761:ios:d4ff3ebfff63a6bc1d5ad8</string>
</dict>
</plist>